
    body{
      background-color: #cce6ff;
       background-size: 100%;
       opacity: .8;
  
      margin-top: 30px;
      text-align: center;
      color: blue;
    }
   .panel{
    	text-align: center;
    }
 